
/* Your CSS Code here. */
/*  your css code here. If applicable */
#gameContainer {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(40, 1fr);
}

.pixel {
  width: 10px;
  height: 10px;
}

.food {
  background-color: red;
}

.snakeBodyPixel {
  background-color: green;
}

.scoreBoard {
  text-align: center;
  margin-top: 10px;
}
